# Files and folders to be ignored.


__pycache__/
util/__pycache__/
.DS_Store


*.asf
*.pyc
*.ply
*.json
*.jpeg
*.zip
*.bz2
*.obj

experiment.py
exp1.py
exp4.py
Side 1.mp4
.python-version
Li1R19_Feedwater Bracket  3D Mapping Project _.5.MP4


feedwatersparger/
test1/
test2/
test3/
test4/
test5/
test6/


before_BA/
epri_test1/
epri_test2/
epri_test3/

extra_past_results/


