# Files and folders to be ignored.


__pycache__/
util/__pycache__/
.DS_Store


*.pyc
*.ply
*.json
*.jpeg

experiment.py
.python-version


extracted_images/*.png
test1/
test2/
test3/
test4/
test5/
test2_6_images/
test3_4_images/

before_BA/
epri_test4/
extra_past_results/


